In [2]:
### Deal NaN ###

import nflreadpy as nfl
import pandas as pd

pbp = nfl.load_pbp().to_pandas()
pbp = pbp[pbp["season_type"] == "REG"]

def search_nan(dataset): # return a table with the columns with nan, number of nans, ideally cross-distribution of nan
    var_list = []
    rows_nan_list = []
    rows_other_list = []
    rows_total_list = []

    for feature in dataset.columns:
        var_list.append(feature)
        rows_nan_list.append(dataset[feature].isna().sum())
        rows_other_list.append(len(dataset[feature]) - dataset[feature].isna().sum())
        rows_total_list.append(len(dataset[feature]))
    
    nan_table = pd.DataFrame({
        'var': var_list,
        'rows_nan': rows_nan_list,
        'rows_other': rows_other_list,
        'rows_total': rows_total_list    
    })

    return nan_table

display(search_nan(pbp))

                     var  rows_nan  rows_other  rows_total
0                play_id         0       38245       38245
1                game_id         0       38245       38245
2            old_game_id         0       38245       38245
3              home_team         0       38245       38245
4              away_team         0       38245       38245
..                   ...       ...         ...         ...
367  xyac_median_yardage     25431       12814       38245
368         xyac_success     25431       12814       38245
369              xyac_fd     25431       12814       38245
370                xpass      9193       29052       38245
371              pass_oe     10022       28223       38245

[372 rows x 4 columns]

In [17]:
import nflreadpy as nfl
import pandas as pd

pbp = nfl.load_pbp().to_pandas()
pbp = pbp[pbp["season_type"] == "REG"]

def replace_nan(dataset, cols, method, num=0, txt='missing'): # with an argument on how to deal with them

    match method:
        case 'mean':
            dataset[cols] = dataset[cols].fillna(dataset[cols].mean())
        case 'median':
            dataset[cols] = dataset[cols].fillna(dataset[cols].median())
        case 'min':
            dataset[cols] = dataset[cols].fillna(dataset[cols].min())
        case 'max':
            dataset[cols] = dataset[cols].fillna(dataset[cols].max())
        case 'num':
            dataset[cols] = dataset[cols].fillna(num)
        case 'text':
            dataset[cols] = dataset[cols].fillna(txt)
        case _:
            print('Error in specifications. No rows were replaced.')
    
    return dataset

display(replace_nan(pbp, ['xpass','pass_oe'], 'num', num=2))

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1.0,2025_01_ARI_NO,2025090705,NO,ARI,REG,1,None,None,None,...,0.0,0.0,-0.000000,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000
1,40.0,2025_01_ARI_NO,2025090705,NO,ARI,REG,1,ARI,away,NO,...,0.0,0.0,-0.352700,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000
2,63.0,2025_01_ARI_NO,2025090705,NO,ARI,REG,1,ARI,away,NO,...,0.0,0.0,-0.190052,NaN,NaN,NaN,NaN,NaN,0.511128,-51.112807
3,85.0,2025_01_ARI_NO,2025090705,NO,ARI,REG,1,ARI,away,NO,...,1.0,0.0,1.317340,0.939998,4.750889,3.0,0.666726,0.43911,0.668940,33.105969
4,115.0,2025_01_ARI_NO,2025090705,NO,ARI,REG,1,ARI,away,NO,...,0.0,0.0,-1.694360,NaN,NaN,NaN,NaN,NaN,0.492038,50.796208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38240,4387.0,2025_15_WAS_NYG,2025121406,NYG,WAS,REG,15,NYG,home,WAS,...,0.0,0.0,-0.718619,0.908457,3.884869,3.0,1.000000,1.00000,0.996199,0.380057
38241,4410.0,2025_15_WAS_NYG,2025121406,NYG,WAS,REG,15,WAS,away,NYG,...,0.0,0.0,-0.000000,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000
38242,4432.0,2025_15_WAS_NYG,2025121406,NYG,WAS,REG,15,WAS,away,NYG,...,0.0,0.0,-0.000000,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000
38243,4454.0,2025_15_WAS_NYG,2025121406,NYG,WAS,REG,15,WAS,away,NYG,...,0.0,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000
38244,4476.0,2025_15_WAS_NYG,2025121406,NYG,WAS,REG,15,WAS,away,NYG,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000

In [16]:
import nflreadpy as nfl
import pandas as pd

pbp = nfl.load_pbp().to_pandas()
pbp = pbp[pbp["season_type"] == "REG"]

def drop_nan(dataset, cols):

    return dataset.dropna(subset=cols)

display(drop_nan(pbp, ['xpass','pass_oe']))

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
2,63.0,2025_01_ARI_NO,2025090705,NO,ARI,REG,1,ARI,away,NO,...,0.0,0.0,-0.190052,NaN,NaN,NaN,NaN,NaN,0.511128,-51.112807
3,85.0,2025_01_ARI_NO,2025090705,NO,ARI,REG,1,ARI,away,NO,...,1.0,0.0,1.317340,0.939998,4.750889,3.0,0.666726,0.439110,0.668940,33.105969
4,115.0,2025_01_ARI_NO,2025090705,NO,ARI,REG,1,ARI,away,NO,...,0.0,0.0,-1.694360,NaN,NaN,NaN,NaN,NaN,0.492038,50.796208
5,135.0,2025_01_ARI_NO,2025090705,NO,ARI,REG,1,ARI,away,NO,...,0.0,0.0,-1.284150,NaN,NaN,NaN,NaN,NaN,0.716846,-71.684569
6,166.0,2025_01_ARI_NO,2025090705,NO,ARI,REG,1,ARI,away,NO,...,0.0,0.0,-0.840574,NaN,NaN,NaN,NaN,NaN,0.756109,-75.610864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38236,4282.0,2025_15_WAS_NYG,2025121406,NYG,WAS,REG,15,NYG,home,WAS,...,0.0,0.0,0.837570,NaN,NaN,NaN,NaN,NaN,0.983991,1.600885
38237,4304.0,2025_15_WAS_NYG,2025121406,NYG,WAS,REG,15,NYG,home,WAS,...,0.0,0.0,-0.448548,NaN,NaN,NaN,NaN,NaN,0.978808,2.119154
38238,4334.0,2025_15_WAS_NYG,2025121406,NYG,WAS,REG,15,NYG,home,WAS,...,1.0,0.0,-0.405820,1.138622,9.724077,8.0,0.484844,0.253601,0.984623,1.537675
38239,4364.0,2025_15_WAS_NYG,2025121406,NYG,WAS,REG,15,NYG,home,WAS,...,0.0,0.0,-0.966858,0.314483,2.887633,1.0,1.000000,0.999418,0.990202,0.979823
38240,4387.0,2025_15_WAS_NYG,2025121406,NYG,WAS,REG,15,NYG,home,WAS,...,0.0,0.0,-0.718619,0.908457,3.884869,3.0,1.000000,1.000000,0.996199,0.380057

In [20]:
import nflreadpy as nfl
import pandas as pd

pbp = nfl.load_pbp().to_pandas()
pbp = pbp[pbp["season_type"] == "REG"]

def drop_penalties(dataset):    # drop first downs due to penalties
    dataset = dataset[dataset['first_down_penalty']==0.0]
    return dataset

display(len(pbp))
display(len(drop_penalties(pbp)))

38245

36228